{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block conteudo %}
<form method="GET">
<div class="bg-light">

    <!--        Detalhes editais  -->
    <div class="container bg-light"  >
        <br>
<!--        <h2 align="center"> Informações do Edital</h2>-->
            <br>
            {% for e in detalhe_editais %}
                {% if e.id == object.id %}

                    <h5><mark>{% bs_icon 'pin-angle' size='1.3em' %} Informações Gerais</mark></h5>
                    <h6><strong>Edital:</strong> N° {{ e.numero}}/{{ e.ano }}  - {{ e.semestre }}° Semestre</h6>
                    <h6><strong>Descrição:</strong> {{ e.edital_titulo }}</h6>
                    <h6><strong>Modalidade:</strong> {{ e.modalidade_edital }}</h6>
                    <h6><strong>Quantidade de vaga: </strong> {{ e.edital_quantidade_vaga }}</h6>
                    <h6><strong>Valor do auxílio:</strong> R$ {{ e.edital_valor_auxilio }}</h6>
                    <br>
                    <h5><mark>{% bs_icon 'calendar-event' size='1.3em' %} Período de Inscrições :</mark></h5>
                    <h6><strong>Início das Inscrições:</strong> {{ e.edital_datetime_ini }}</h6>
                    <h6><strong>Fim das Inscrições:</strong> {{ e.edital_datetime_fim }}</h6>
                    <br>
                    <h5><mark>{% bs_icon 'pencil-square' size='1.3em' %} Período para correções dos dados após a inscrição:</mark></h5>
                    <h6><strong>Período de Correção:</strong> {{ e.edital_datetime_correcao_ini }}</h6>
                    <h6><strong>Fim das Inscrições:</strong> {{ e.edital_datetime_correcao_fim }}</h6>
                 <br>
                {% endif %}
            {% endfor %}

<!--        Publicações -->
<h4 align="center"><mark>{% bs_icon 'file-earmark-pdf' size='0.8em' %} Publicações</mark></h4>
        <br>
        <table class="table table-striped">
          <thead>
            <tr class="table-success">
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
<!--                <th scope="col">Data de Públicação</th>-->
                <th scope="col">Download Anexo</th>
            </tr>

          </thead>
          <tbody>

<!--          {{ object.id }}-->
<!--          {{ publicacao }}-->
         {% for p in publicacao %}
            {% if object.id == p.edital_id %}
            <tr>
              <th scope="row">{{ p.id }}</th>
              <td>{{ p.publicacao_descricao }}</td>
                <td>
                   <a class="text-primary" href="{{ p.publicacao_anexo_arq.url }}" title="Download Anexo">
                        {% bs_icon 'file-earmark-arrow-down' size='1.5em' %}
                   </a>
              </td>
            </tr>
            {% endif %}
          {% empty %}
            <p>vazio</p>
          {% endfor %}
          </tbody>
        </table>
        <br>
<!--        <div align="center">-->
<!--        <a href="{% url 'index' %}" class="btn bg-danger text-white my-2">Voltar</a>-->
<!--        </div>-->
    </div>
</div>
</form>
{% endblock %}