{% extends 'base.html' %}

{% block conteudo %}
<form method="GET">
<div class="bg-light">

    <!--        Detalhes editais  -->
    <div class="container bg-light"  >
        <br>
<!--        <h2 align="center"> Informações do Edital</h2>-->
            <br>
            {% for e in detalhe_editais %}
                {% if e.id == object.id %}

                    <h6><mark>-> Informações Gerais</mark></h6>
                    <h6><strong>Edital:</strong> N° {{ e.numero}}/{{ e.ano }}  - {{ e.semestre }}° Semestre</h6>
                    <h6><strong>Descrição:</strong> {{ e.edital_titulo }}</h6>
                    <h6><strong>Modalidade:</strong> {{ e.modalidade_edital }}</h6>
                    <h6><strong>Quantidade de vaga: </strong> {{ e.edital_quantidade_vaga }}</h6>
                    <h6><strong>Valor do auxílio:</strong> R$ {{ e.edital_valor_auxilio }}</h6>
                    <br>
                    <h6><mark>-> Período de Inscrições :</mark></h6>
                    <h6><strong>Início das Inscrições:</strong> {{ e.edital_datetime_ini }}</h6>
                    <h6><strong>Fim das Inscrições:</strong> {{ e.edital_datetime_fim }}</h6>
                    <br>
                    <h6><mark>-> Período para correções dos dados após análise do Setor:</mark></h6>
                    <h6><strong>Período de Correção:</strong> {{ e.edital_datetime_correcao_ini }}</h6>
                    <h6><strong>Fim das Inscrições:</strong> {{ e.edital_datetime_correcao_fim }}</h6>
                    <br>
                    {% if e.edital_status == True %}
                        <h6><mark>Deseja se inscrever?</mark></h6>
                        <a class="btn btn-sm btn-outline-success" href="#"> Inscrições Abertas - Clique aqui!</a>
                    {% else %}
                        <h6><mark>Deseja se inscrever?</mark></h6>
                        <a class="btn btn-sm btn-outline-danger" href="#"> Inscrições Encerradas!</a>
                    {% endif %}

                    <br>
                    <br>
                {% endif %}
            {% endfor %}

<!--        Publicações -->
<h5 align="center"><mark>Publicações</mark></h5>
        <br>
        <table class="table table-striped">
          <thead>
            <tr class="table-success">
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
<!--                <th scope="col">Data de Públicação</th>-->
                <th scope="col">Download Anexo</th>
            </tr>

          </thead>
          <tbody>

<!--          {{ object.id }}-->
<!--          {{ publicacao }}-->
         {% for p in publicacao %}
            {% if object.id == p.edital_id %}
            <tr>
              <th scope="row">{{ p.id }}</th>
              <td>{{ p.publicacao_descricao }}</td>
                <td>
                   <a class="text-primary" href="{{ p.publicacao_anexo_arq.url }}" title="Download Anexo">
                        Baixar arquivo
                   </a>
              </td>
            </tr>
            {% endif %}
          {% empty %}
            <p>vazio</p>
          {% endfor %}
          </tbody>
        </table>
        <br>
<!--        <div align="center">-->
<!--        <a href="{% url 'index' %}" class="btn bg-danger text-white my-2">Voltar</a>-->
<!--        </div>-->
    </div>
</div>
</form>
{% endblock %}