{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block menu %}
{% endblock %}

{% block topo %}
{% endblock %}

{% block titulo %}

{% block rodape %}
{% endblock %}

<title>Painel do Aluno</title>
{% endblock %}

{% block conteudo %}
<div class="container" align="center">

    <div class="contact-area section-padding-0-80">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <br><br><br>
<!--                    <img src="/static/image/logo_1.png" alt="IFMT - Campus Várzea Grande" width="260" height="80">-->
                    <a href="{% url 'index' %}"><img src="/static/image/logo_4.png" width="200" height="40" alt=""></a>
                     <br>
                    <font size="2">IFMT - Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso - Campus Várzea Grande</font>
                    <br>
                    <font size="2">SISNAE - Sistema de Núcleo de Assistência Estudanti</font>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

{% if request.user.is_authenticated %}
    <div align="center">
        <br><br><br><br>
        <h3>Você já está logado na plataforma!</h3>
         <a class="btn btn-danger" href="{% url 'index' %}">Voltar Página inicial</a>
    <!--    <p class="lead">Você não tem permissão de acesso a esta funcionalidade!</p>-->
    </div>
{% else %}
    <div class="container">
        <div class="col-md-6 mx-auto">
            <br><br>
            <h5 align="center">Autenticação de usuário!</h5>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}

                <p align="center">
                    <a href="{% url 'index' %}" class="btn btn-danger">Voltar</a>
                    <button type="submit" class="btn btn-success">Entrar</button>
                </p>
            </form>
        </div>
    </div>
{% endif %}

{% endblock %}
