{% extends 'base.html' %}
{% block menu %}
{% endblock %}

{% block topo %}
{% endblock %}

{% block titulo %}
<title>Painel do Aluno</title>
{% endblock %}

{% block conteudo %}
<div class="container " align="center">

    <div class="contact-area section-padding-0-80">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <br><br><br>
<!--                    <img src="/static/image/logo_1.png" alt="IFMT - Campus Várzea Grande" width="260" height="80">-->
                    <a href="{% url 'index' %}"><img src="/static/image/logo_4.png" alt=""></a>
                    <br><br>
                    <h6>IFMT - Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso - Campus Várzea Grande.</h6>
                    <h6>SISNAE - Sistema de Núcleo de Assistência Estudantil</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="" method="">
                        {% csrf_token %}
                        <div class="row">

                            <div class="container">
                                <div align="left" class="col-8 col-lg-8">
                                    <br>
                                <label for="email">E-mail</label>
                                    <input type="text" id="email" class="form-control" name="email" placeholder="Entre com o email cadastrado">
                                </div>
                                <div align="left" class="col-8 col-lg-8">
                                    <br>
                                    <label for="senha">Senha</label>
                                    <input id="senha" type="password" class="form-control" name="senha" placeholder="Digite aqui sua senha">
                                </div>
                            </div>

                            <div class="col-12 text-center">
                                <br>
                             <a class="btn btn-warning" href="{% url 'index' %}">Voltar Página inicial</a>
                                <button class="btn btn-success" type="submit">Acessar sua conta</button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
