{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     {% bootstrap_css %}

    <title>Painel do Usuário</title>

</head>
<body>
<!--
<div class="bg-warning">
  <p align="center" class="bg-warning">
            <strong>Atenção: Antes de finalizar a inscrição em um edital revise seus dados!!!</strong>
        <svg  xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
             class="bg-warning bi bi-exclamation-triangle" viewBox="0 0 16 16">
              <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857
              11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0
              0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1
              .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889
              0 1.438-.99.98-1.767L8.982 1.566z"/>
              <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552
              0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        </p>
</div>
-->
<div class="container " align="center">
    <!--
    <form class="form-signin" method="post" autocomplete="off">
        {% csrf_token %}
        <img align="center" class="mb-4" src="/static/image/ifmt.ico" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Informe seus dados</h1>

        <label for="username" class="sr-only">E-mail</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Informe seu e-mail" required autofocus>
        <br>
        <label for="password" class="sr-only">Senha</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Informe sua senha" required>

        <br>
        <button class="btn btn-primary btn-block" type="submit">Acessar</button>
        <p class="mt-5 mb-3 text-muted">&copy; {% now 'Y'%}</p>
    </form>
    -->
    <div class="contact-area section-padding-0-80">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <br><br><br>
<!--                    <img src="/static/image/logo_1.png" alt="IFMT - Campus Várzea Grande" width="260" height="80">-->
                    <a href="{% url 'index' %}"><img src="/static/image/logo_4.png" alt=""></a>
                    <br><br>
                    <h6>IFMT - Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso - Campus Várzea Grande.</h6>
                    <h6>SIS NAE - Núcleo de Assistência Estudantil</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="" method="">
                        {% csrf_token %}
                        <div class="row">

                            <div class="container">
                                <div align="left" class="col-8 col-lg-8">
                                    <br>
                                <label for="email">E-mail</label>
                                    <input type="text" id="email" class="form-control" name="email" placeholder="Entre com o email cadastrado">
                                </div>
                                <div align="left" class="col-8 col-lg-8">
                                    <br>
                                    <label for="senha">Senha</label>
                                    <input id="senha" type="password" class="form-control" name="senha" placeholder="Digite aqui sua senha">
                                </div>
                            </div>

                            <div class="col-12 text-center">
                                <br>
                                <button type="button" class="btn btn-warning " onclick="index()">Voltar Página inicial</button>
                                <button type="button" class="btn btn-danger" onclick="exibirCriarConta()">Primeiro acesso</button>
                                <button class="btn btn-success" type="submit">Acessar sua conta</button>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
function exibirCriarConta()
{
     location.href = "{% url 'primeiro_acesso_aluno' %}";
}

function index()
{
     location.href = "{% url 'index' %}";
}
</script>

{% bootstrap_javascript jquery='full' %}
</body>
</html>