{% extends 'base.html' %}
{% load bootstrap_icons %}


{% block topo %}
{% endblock %}

{% block titulo %}
{% endblock %}

{% block rodape %}
{% endblock %}

{% block conteudo %}

{% if user.is_anonymous %}
    <div class="container" align="center">
        <br><br>
        <p><mark>Para realizar acesso a esta página, você precisa estar logado na plataforma!</mark> </p>
        <a class="btn btn-primary" href="{% url 'painel_login_aluno' %}">Clique aqui para realizar seu acesso na plataforma!</a>
    </div>
{% else %}
    <div class="container" align="center">
        <br>
        <h6><mark>Bem vindo ao Painel do Usuário!</mark></h6>
        <br>
        <div class="card-deck">
          <div class="card">
              <br>
             <a href="{% url 'editais_aberto' %}" align="center"> {% bs_icon 'person' size='2.8em' %}</a>
            <div class="card-body">
              <a href="{% url 'editais_aberto' %}" class="card-title"><h6>Meus dados</h6></a>
            </div>
          </div>
          <div class="card">
              <br>
             <a href="{% url 'editais_aberto' %}"  align="center"> {% bs_icon 'file-earmark-pdf' size='2.8em' %}</a>
            <div class="card-body">
              <a href="{% url 'editais_aberto' %}" class="card-title"><h6>Editais abertos</h6></a>
            </div>
          </div>
         <div class="card">
              <br>
             <a href="{% url 'editais_aberto' %}"   align="center"" align="center"> {% bs_icon 'card-text' size='2.8em' %}</a>
            <div class="card-body">
              <a href="{% url 'editais_aberto' %}" class="card-title"><h6>Histórico de inscrições</h6></a>
            </div>
          </div>
          <div class="card"><br>
                <a href="{% url 'editais_aberto' %}" align="center"> {% bs_icon 'key' size='2.8em' %}</a>
                <div class="card-body">
                  <a href="{% url 'editais_aberto' %}"  class="card-title"><h6>Alterar minha senha</h6></a>
                </div>
            </div>
        </div>
<!--        SEGUNDA LINHA DE MENU SE EXISTIR | 3 CARD POR LINHA -->
<!--        <br>-->
<!--        <div class="card-deck">-->
<!--            <div class="card"><br>-->
<!--                <a href="{% url 'editais_aberto' %}" align="center"> {% bs_icon 'key' size='2.8em' %}</a>-->
<!--                <div class="card-body">-->
<!--                  <a href="{% url 'editais_aberto' %}"  class="card-title"><h5>Alterar minha senha</h5></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card"><br>-->
<!--                <a href="{% url 'editais_aberto' %}" align="center"> {% bs_icon 'key' size='2.8em' %}</a>-->
<!--                <div class="card-body">-->
<!--                  <a href="{% url 'editais_aberto' %}"  class="card-title"><h5>Alterar minha senha</h5></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card"><br>-->
<!--                <a href="{% url 'editais_aberto' %}" align="center"> {% bs_icon 'key' size='2.8em' %}</a>-->
<!--                <div class="card-body">-->
<!--                  <a href="{% url 'editais_aberto' %}"  class="card-title"><h5>Alterar minha senha</h5></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
{% endif %}

{% endblock  %}