{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Joacil Amarante de Paula Junior">
    {% bootstrap_css %}

    <title>Primeiro Acesso Aluno</title>
     {% bootstrap_javascript jquery='full' %}
</head>
<body>


<div class="container">
    {% if user.is_anonymous %}
        <h4>deslogado</h4>
    {% else %}
         <h4>logado</h4>
    {% endif %}

    <div align="center">
        <br>
<!--        <img src="/static/image/logo_1.png" alt="IFMT - Campus Várzea Grande" width="260" height="80">-->
        <a href="{% url 'index' %}"><img src="/static/image/logo_4.png" alt=""></a>
        <br><br>
        <h6>IFMT - Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso - Campus Várzea Grande.</h6>
        <h6>SIS NAE - Núcleo de Assistência Estudantil</h6>
        <br>
        <br>
    </div>

    <div class="contact-area section-padding-0-80">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>Criar conta</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form action="{% url 'primeiro_acesso_aluno' %}" method="POST">
                             {% csrf_token %}



                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <label for="matricula"><b>Matricula</b></label>
                                    <input autocomplete="off" type="text" class="form-control" name="matricula" placeholder="Ex.:201911342140014" required>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <label for="password"><b>Senha</b></label>
                                    <input autocomplete="off" type="password" class="form-control" name="password" placeholder="Digite sua senha" required>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="password2"><b>Confirmação de senha</b></label>
                                    <input autocomplete="off" type="password" class="form-control" name="password2" placeholder="Digite sua senha mais uma vez" required>
                                </div>

                                <div class="col-12 text-center">
                                    <br>

                                    <button type="button" class="btn btn-warning " onclick="index()">Voltar Página inicial</button>
                                     <button class="btn btn-success" type="submit">Criar sua conta</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

function index()
{
     location.href = "{% url 'index' %}";
}
</script>


</body>
</html>