{% extends 'base.html' %}
{% block menu %}
{% endblock %}
{% block content %}
<div class="container">
    {% if user.is_anonymous %}
        <p>deslogado</p>
    {% else %}
         <p>logado</p>
    {% endif %}

    <div align="center">
        <br>
        <br>
        <br>
<!--        <img src="/static/image/logo_1.png" alt="IFMT - Campus Várzea Grande" width="260" height="80">-->
        <a href="{% url 'index' %}"><img src="/static/image/logo_4.png" alt=""></a>
        <br><br>
        <h6>IFMT - Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso - Campus Várzea Grande.</h6>
        <h6>SISNAE - Sistema de Núcleo de Assistência Estudantil</h6>
        <br>
        <br>
    </div>

    <div class="contact-area section-padding-0-80">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Criar conta</h3>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="contact-form-area">
                        <form action="{% url 'primeiro_acesso_aluno' %}" method="POST">
                             {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <label for="matricula"><b>Matricula</b></label>
                                    <input autocomplete="off" type="text" class="form-control" name="matricula" placeholder="Ex.:201911342140014" required>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <label for="password"><b>Senha</b></label>
                                    <input autocomplete="off" type="password" class="form-control" name="password" placeholder="Digite sua senha" required>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <label for="password2"><b>Confirmação de senha</b></label>
                                    <input autocomplete="off" type="password" class="form-control" name="password2" placeholder="Digite sua senha mais uma vez" required>
                                </div>

                                <div class="col-12 text-center">
                                    <br>

                                     <button type="button" class="btn btn-warning ">
                                        <a href="{% url 'index' %}">Voltar Página inicial</a>
                                     </button>
                                     <button class="btn btn-success" type="submit">Criar sua conta</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
