{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block menu %}
{% endblock %}

{% block topo %}
{% endblock %}

{% block rodape %}
{% endblock %}

{% block conteudo %}
<div class="container">
    {% if user.is_anonymous %}
        <p>deslogado</p>
    {% else %}
         <p>logado</p>
    {% endif %}

    <div align="center">

    <!--        <img src="/static/image/logo_1.png" alt="IFMT - Campus Várzea Grande" width="260" height="80">-->
        <a href="{% url 'index' %}"><img src="/static/image/logo_4.png" width="200" height="40" alt=""></a>
        <br>
        <font size="2">IFMT - Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso - Campus Várzea Grande</font>
        <br>
        <font size="2">SISNAE - Sistema de Núcleo de Assistência Estudanti</font>
        <br><br>
    </div>

    <div class="col-md-7 mx-auto">
        <form action="" method="POST">

            {% csrf_token %}
            {{ form|crispy }}

            <div class="text-center">
                <a class="btn btn-warning" href="{% url 'index' %}">Voltar Página inicial</a>
                 <button class="btn btn-success" type="submit">Criar sua conta</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}


