{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Joacil Amarante de Paula Junior">
    <link rel="icon" href="/static/image/ifmt.ico">
    {% bootstrap_css %}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="bg-light">

  <header class="bg-light">
    <div class="container ">
    {% block menu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <a class="navbar-brand"  href="{% url 'index' %}"><img src="/static/image/logo_5.png" alt=""
                                                             width="30" height="30"></a>
<!--    <a class="navbar-brand" href="{% url 'index' %}">SISNAE</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'painel_login_aluno' %}">Painel do Aluno</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'equipe' %}">Equipe</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'perguntas_frequente' %}">Perguntas frequentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ListDadosImportacaoView' %}">Importações</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Editais
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'todos_editais' %}"> Listar - Todos os Editais</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  </div>
    {% bootstrap_javascript jquery='full' %}
    {% endblock menu %}
</header>

{% block content %}

{% endblock %}

<footer class="text-center py-5 bg-light">
  <div class="container ">
    <p class="float-end mb-1">
      <a href="#">Topo da página</a>
    </p>
    <p class="mb-0">NAE: <a  href="http://vgd.ifmt.edu.br/conteudo/pagina/nae-nucleo-de-assistencia-estudantil-informacoes/" target="_blank">Núcleo de Assistência Estudantil - IFMT Campus Várzea Grande</a></p>
    <p class="mb-0">Desenvolvido por: <a  href="http://lattes.cnpq.br/2923700707849440" target="_blank">Joacil Amarante de Paula Junior</a></p>
  </div>
</footer>

 </body>

</html>