{% extends 'base.html' %}

{% block content %}
   <!-- Topo Start  -->
    {% include 'topo.html' %}
   <!-- Topo End -->

    <div class="bg-white" >
        <div class="container text-justify text-center">
            <br>

        <h2 class="text-center">Equipe Núcleo de Assistência Estudantil</h2>
            <br>
            <strong><p>Coordenador de de T.I - Joacil Amarante de Paula Junior </p></strong>
            <p>- Desenvolvedor e Responsável pelo sistema SISNAE, joacil.amarante@ifmt.edu.br</p>

            <strong><p>Assistente Social - Carminha Aparecida Visquetti</p></strong>
            <p>3691-8042, carminha.visquetti@vgd.ifmt.edu.br</p>

            <strong><p>Intéprete de Libras - Marcilene da Silva Araújo</p></strong>
            <p>3691-8000, marcilene.araujo@vgd.ifmt.edu.br</p>

            <strong><p>Pedagoga - Sônia Maria de Almeida</p></strong>
            <p>3691-8013, sonia.almeida@vgd.ifmt.edu.br</p>

            <strong><p>Psicóloga - Fernanda Lima Zanata</p></strong>
            <p>3691-8009, fernanda.zanata@vgd.ifmt.edu.br</p>

            <strong><p>Técnico de Assuntos Educacionais - Jelder Pompeo de Cerqueira</p></strong>
            <p>3691-8016, jelder.cerqueira@vgd.ifmt.edu.br</p>

            <br>

        </div>
    </div>

{% endblock %}


