{% extends 'base.html' %}
{% block content %}
   <!-- Topo Start  -->
    {% include 'topo.html' %}
   <!-- Topo End -->

    <div class="bg-white">
        <div class="container text-justify">
            <br>
        <h2 class="text-center">Perguntas frequentes para o NAE</h2>
            <br>
            <strong><p>O que é o NAE?</p></strong>
            <p>É Núcleo de Apoio ao Estudante, responsável pela execução do Programa de Assistência Estudantil do Campus. Fica localizado na Secretaria Escolar do Campus Várzea Grande e é composto pela equipe multidisciplinar: assistente social, pedagoga, psicóloga, técnico de assuntos educacionais, intérprete de libras e assistente de alunos. Tem como principal objetivo subsidiar os/as estudantes em suas necessidades educacionais, sociais e pedagógicas.</p>


            <strong><p>O que é Edital de Assistência Estudantil - Auxílio Alimentação e Transporte e qual seu principal objetivo?</p></strong>
            <p>Os editais de assistência estudantil são ações, embasadas na Política de Assistência Estudantil do IFMT, portanto, sua oferta constitui um direito ao estudante e tem como principal objetivo assegurar o acesso, a permanência e êxito dos estudantes com igualdade de oportunidades aos que se encontram em situação de insuficiência financeira e/ou social que possa resultar na retenção ou sua não permanência escolar.</p>


            <strong><p>Quem pode concorrer aos editais de auxílio alimentação e transporte?</p></strong>
            <p>Qualquer estudante regularmente matriculada/o nos cursos regulares do IFMT Campus Várzea Grande e que possuam, prioritariamente, renda per capta bruta de até 1,5 salário mínimo e meio.</p>

            <strong><p>Como faço para conseguir ter esses auxílios?</p></strong>
            <p>A/O estudante deverá concorrer ao edital e se enquadrar nos critérios de seleção/elegibilidade do Programa, e, caso selecionada/o, receberá os auxílios.</p>

            <strong><p>Como faço para me inscrever ao Edital de auxílio alimentação e transporte?</p></strong>
            <p>O estudante deverá acessar a página do IFMT Campus Várzea Grande, no seguinte endereço: vgd.ifmt.edu.br, acessar a aba “Departamento de Ensino” e logo em seguida a aba “Núcleo de Assistência Estudantil”, na qual estará disponível um link em que a/o estudante terá acesso ao questionário sócio econômico on line.</p>

            <strong><p>O que a/o estudante deverá fazer após preencher o questionário online?</p></strong>
            <p>Após o preenchimento do questionário on line a/o estudante deverá imprimir somente o comprovante de preenchimento do questionário on line, e anexar os demais documentos que deverão ser entregues ao Núcleo de Assistência Estudantil.
                No ato de entrega, será destacado o protocolo de entrega das documentações, é um documento importante e deve ser guardada pela/pelo estudante e serve como garantia de entrega de seus documentos no setor NAE.
            <strong>ATENÇÃO:</strong> O NAE NÃO IRÁ TIRAR FOTOCÓPIAS e nem receber as inscrições em que documentos estejam faltando.</p>

            <strong><p>O que é importante a/o estudante observar no preenchimento do questionário on line?</p></strong>
            <p>É importante que a/o estudante preencha corretamente todas as informações solicitadas e não omita nenhuma informação, pois se constatado qualquer irregularidade a/o estudante poderá além de perder o auxílio, responder penalmente por falsidade ideológica.</p>

            <strong><p>Como informar a renda familiar no questionário?</p></strong>
            A/O estudante deverá comunicar no questionário todos os integrantes que compõem a família, bem como informar quem possui renda, de que forma e seus respectivos valores.</p>

            <strong><p>Qual a importância de ler e tirar todas as dúvidas com o Núcleo de Assistência Estudantil - NAE sobre o edital da assistência estudantil?</p></strong>
            <p>É de suma importância que a/o estudante leia atentamente o edital, pois é lá que estão todas as regras e prazos, bem como os critérios que são considerados para a seleção das/dos futuras/os beneficiárias/os dos auxílios, prevendo inclusive as condições de permanência da/do estudante no referido programa.</p>

            <strong><p>Porque os prazos são importantes ser observado nestes editais?</p></strong>
            <p>É de suma importância que a/o estudante se atente aos prazos previstos, na qual prevê todos os procedimentos a serem executados como: o período das inscrições, o resultado preliminar, o pedido de recursos e demais procedimentos do certame.</p>

            <strong><p>E se a/o estudante perder os prazos previstos nos editais?</p></strong>
            <p>Há prazos importantes que devem ser observados, eles são feitos para que a/o estudante esteja ciente em que fase se encontra o certame e poder ter o direito de requerer um pedido de recurso. Por exemplo, se a/o estudante perder esse prazo, não poderá depois alegar que não sabia, já que todos os atos dos editais estão publicados para que todos tenham conhecimento.</p>

            <strong><p>Como é feito o repasse desses auxílios aos estudantes?</p></strong>
            <p>Depois de finalizado o edital é publicado o resultado final, a relação dos/das estudantes aprovadas/os é encaminhado ao Departamento de Administração para que seja feito o empenho, liquidação e pagamento dos auxílios. Para isso é imprescindível que o estudante possua conta corrente ou poupança em seu nome, de qualquer agência bancária de sua preferência.</p>

            <strong><p>E se eu perceber que o estudante que recebe auxílio alimentação ou transporte omitiu ou mentiu algumas informações no questionário sócio econômico somente para conseguir receber o auxílio?</p></strong>
            <p>A qualquer momento, a/o estudante que se sentir prejudicado/a pode denunciar casos que ele perceber que o auxílio foi concedido à pessoa que não necessite. Para isso, ele/ela deverá preencher uma ficha de denúncia e entregar ao NAE para que a situação seja averiguada. Cabe ressaltar que a denúncia é anônima, resguardando assim a identificação do/da denunciante aos demais.</p>


        </div>
    </div>
{% endblock %}


