<main class="bg-success">
  <br>
  <section class="py-22 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <a href="{% url 'index' %}"><img src="/static/image/logo_3.png" alt=""></a>
<!--        <h2 class="fw-light text-white">Núcleo de Assistência Estudantil  IFMT Campus Várzea Grande</h2>-->
        <h4 class="fw-light text-white">IFMT - Campus Várzea Grande</h4>
        <p class="lead text-white">Desenvolvemos políticas e ações voltadas para a assistência do estudante com o intuito de favorecer sua permanência e êxito no processo de ensino e aprendizagem.</p>
        <p>
          <a href="{% url 'painel_login_aluno' %}" class="btn btn-primary my-2">Painel do Aluno</a>
          <a href="{% url 'primeiro_acesso_aluno' %}" class="btn bg-danger text-white my-2">Primeiro Acesso</a>
          <!--<a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
        </p>
      </div>
    </div>
  </section>
  </main>