{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Joacil Amarante de Paula Junior">
    {% bootstrap_css %}

    <title>Primeiro Acesso Aluno</title>
     {% bootstrap_javascript jquery='full' %}
</head>
<body>



<div class="container">
    {% if user.is_anonymous %}
        <h1>deslogado</h1>
    {% else %}
         <h1>logado</h1>
    {% endif %}
</div>


</body>
</html>